body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: url(../img/background3.webp);
	background-size: cover;
}

@keyframes slidedown {
	from { background-position: 0 70000%; }
	to   { background-position: 0 0; }
}

@keyframes slideup {
	from { background-position: 0 0; }
	to   { background-position: 0 70000%; }
}

@keyframes slideright {
	from { background-position: 0; }
	to   { background-position: 70000%; }
}

@keyframes slideleft {
	from { background-position: 70000%; }
	to   { background-position: 0; }
}

#main-play-area {
	background-color: black;
	border: 1px solid lightblue;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, 0.2);
	height: 80%;
	width: 80%;
}

.back-default{
	background-image: url(../img/background1.jpg);
}

.back-animate{
	background-image: url(../img/background5.jpg);
}

.flying-down{
	animation: slidedown 20000s infinite linear;
}

.flying-up{
	animation: slideup 20000s infinite linear;
}

.flying-right{
	animation: slideright 20000s infinite linear;
}

.flying-left{
	animation: slideleft 20000s infinite linear;
}

.game-instructions{
	text-align: center;
	color: white;
}

.description-mission{
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 1.0);
	text-align: center;
	color: white;
	font-family: 'OCR A Std', monospace;
	font-size: 25px;
	text-shadow: 1px 3px rgba(0, 0, 255, 0.7);
}

.start-button{
	margin-top: 5%;
	text-align: center;
	color: white;
	cursor: pointer;
}

.player-shooter{
	position: absolute;
	height: 80px;
	width: 150px;
	left: 140px;
	top: 240px;
}

.laser{
	position: absolute;
	width: 120px;
	height: 80px;
}

.alien{
	height: 100px;
	width: 150px;
	position: absolute;
}

.alien-transition{
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
}

.dead-alien{
	height: 60px;
	width: 70px;
	position: absolute;
	opacity: 0;
}

#placar {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 590px;
	font-family: 'OCR A Std', monospace;
	color: white;
}