body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	font-family: Consolas;
	background: url(../img/background3.webp);
	background-size: cover;
}


@keyframes slidedown {
	0%    { background-position: 0 70000%; }
	100%   { background-position: 0 0; }
}

@-webkit-keyframes slidedown {
	0%    { background-position: 0 70000%; }
	100%   { background-position: 0 0; }
}

@-moz-keyframes slidedown {
	0%    { background-position: 0 70000%; }
	100%   { background-position: 0 0; }
}

@-ms-keyframes slidedown {
	0%     { background-position: 0 70000%; }
	100%   { background-position: 0 0; }
}

@-o-keyframes slidedown {
	0%     { background-position: 0 70000%; }
	100%   { background-position: 0 0; }
}

@keyframes slideup {
	from { background-position: 0 0; }
	to   { background-position: 0 70000%; }
}

@-webkit-keyframes slideup {
	from { background-position: 0 0; }
	to   { background-position: 0 70000%; }
}

@-moz-keyframes slideup {
	from { background-position: 0 0; }
	to   { background-position: 0 70000%; }
}

@-ms-keyframes slideup {
	from { background-position: 0 0; }
	to   { background-position: 0 70000%; }
}

@-o-keyframes slideup {
	from { background-position: 0 0; }
	to   { background-position: 0 70000%; }
}

@keyframes slideright {
	from { background-position: 0; }
	to   { background-position: 70000%; }
}

@-webkit-keyframes slideright {
	from { background-position: 0; }
	to   { background-position: 70000%; }
}

@-moz-keyframes slideright {
	from { background-position: 0; }
	to   { background-position: 70000%; }
}

@-ms-keyframes slideright {
	from { background-position: 0; }
	to   { background-position: 70000%; }
}

@-o-keyframes slideright {
	from { background-position: 0; }
	to   { background-position: 70000%; }
}

@keyframes slideleft {
	from { background-position: 70000%; }
	to   { background-position: 0; }
}

@-webkit-keyframes slideleft {
	from { background-position: 70000%; }
	to   { background-position: 0; }
}

@-moz-keyframes slideleft {
	from { background-position: 70000%; }
	to   { background-position: 0; }
}

@-ms-keyframes slideleft {
	from { background-position: 70000%; }
	to   { background-position: 0; }
}

@-o-keyframes slideleft {
	from { background-position: 70000%; }
	to   { background-position: 0; }
}

#main-play-area {
	background-color: black;
	border: 1px solid lightblue;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, 0.2);
	height: 80%;
	width: 80%;
}

.img-planet-axius{
	width: 500px;
	height: 500px;
}

.img-planet-effect{
	overflow: hidden;
	transition: transform .50s ease;
	transform: scale(20.1);
}

.img-mother-ship{
	width: 400px;
	height: 220px;
	position: absolute;
	left: 60%;
	top: 55%;
	-webkit-transform: rotate(345deg);
	-ms-transform: rotate(345deg);
	transform: rotate(345deg);
}

.back-default{
	background-image: url(../img/background1.jpg);
}

.back-animate{
	background-image: url(../img/background5.jpg);
}

.back-animate2{
	background-image: url(../img/backmission2.jpg);
	background-size: cover;
}

.front-panel{
	background-image: url('../img/computer-panel/front-panel.jpg');
	background-size: 100% 100%;
}

.flying-down{
	animation: slidedown 2500s infinite linear;
	-webkit-animation: slidedown 2500s infinite linear;
	-moz-animation   : slidedown 2500s infinite linear;
	-ms-animation    : slidedown 2500s infinite linear;
	-o-animation     : slidedown 2500s infinite linear;
}

.flying-up{
	animation: slideup 2500s infinite linear;
	-webkit-animation: slideup 2500s infinite linear;
	-moz-animation   : slideup 2500s infinite linear;
	-ms-animation    : slideup 2500s infinite linear;
	-o-animation     : slideup 2500s infinite linear;
}

.flying-right{
	animation: slideright 2500s infinite linear;
	-webkit-animation: slideright 2500s infinite linear;
	-moz-animation   : slideright 2500s infinite linear;
	-ms-animation    : slideright 2500s infinite linear;
	-o-animation     : slideright 2500s infinite linear;
}

.flying-left{
	animation: slideleft 2500s infinite linear;
	-webkit-animation: slideleft 2500s infinite linear;
	-moz-animation   : slideleft 2500s infinite linear;
	-ms-animation    : slideleft 2500s infinite linear;
	-o-animation     : slideleft 2500s infinite linear;
}

.game-instructions{
	text-align: center;
	color: white;
}

.description-mission{
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 1.0);
	text-align: center;
	color: white;
	font-size: 25px;
	text-shadow: 1px 3px rgba(0, 0, 255, 0.7);
}

.info-game{
	border: 2px solid white;
	background-color: black;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 5px;
	color: white;
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	font-family: monospace;
	font-size: 14px;
}

.info-game .list{
	text-align: justify;
}

.info-game .enigm-div{
	width: 100%;
	height: 100%;
	font-size: 50px;
}

.info-game .table-chars{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	width: 70%;
}

.info-game .color-square{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.info-game .input-enigm{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
	height: auto;
	font-size: 30px;
	border: 1px solid white;
	background-color: black;
	color: green;
}

.info-game button{
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid white;
	background-color: black;
	color: white;
	padding: 8px;
	width: 100px;
}

.info-game button:hover{
	transition: .5s ease-in-out;
	background-color: blue;
}

.panel{
	display: none;
}

.buttons-panel{
	display: flex;
	flex-direction: row;
	top: 80%;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
}

.buttons-panel .img-buttons{
	margin: 20px;
}

.start-button{
	margin-top: 5%;
	text-align: center;
	color: white;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	width: 12rem;
	height: 6rem;
}

.start-button:hover{
	transition: .5s ease-in-out;
	text-shadow: 2px 3px rgba(255, 255, 255, 0.9);
	color: blue;
}

.player-shooter{
	position: absolute;
	height: 80px;
	width: 150px;
	left: 140px;
	top: 440px;
}

.laser{
	position: absolute;
	width: 120px;
	height: 80px;
}

.alien{
	height: 100px;
	width: 150px;
	position: absolute;
}

.alien-transition{
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
}

.dead-alien{
	height: 60px;
	width: 70px;
	position: absolute;
	opacity: 0;
}

#placar {
	width: auto;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 590px;
	font-family: Consolas;
	color: white;
}


#alien-explosion {
	width: 225px;
	height: 200px;
	position:absolute;
}

.explosion-alien-anim {
	width: 225px;
	height: 200px;
	background-image: url(../img/alienexplosion/explosion-alien.png);
	animation: playExplosion .5s steps(16) infinite;
	-webkit-animation: playExplosion .5s steps(16) infinite;
       -moz-animation: playExplosion .5s steps(16) infinite;
        -ms-animation: playExplosion .5s steps(16) infinite;
         -o-animation: playExplosion .5s steps(16) infinite;
}

@keyframes playExplosion {
	from {background-position:0px;}
	to {background-position: -3600px;}
}

@-webkit-keyframes playExplosion {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

@-moz-keyframes playExplosion {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

@-ms-keyframes playExplosion {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}

@-o-keyframes playExplosion {
   from { background-position:    0px; }
     to { background-position: -3600px; }
}